body{
  background: rgb(128, 212, 89);
}
.spam{
    border-radius: 10px;
}
.first{
  width: 451px;
  height: 777px;
  background-color: black;
  border-radius: 10px;
  margin-left: 200px;
}
#one{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 5px solid green;
  background-color: red;
}
#two{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 5px solid green;
  background-color: yellow;
}
#three{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 5px solid green;
  background-color: green;
}